@model IEnumerable<TransportRoute>
@{
    ViewData["Title"] = "Transport Routes List";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TransportRoutesName)</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model)
        {
            <tr>
                <td>@route.TransportRoutesName</td>
                
                <td>
                    <a href="@Url.Action("Modify", "TransportRoutes", new { id = route.TransportRoutesId })" class="btn btn-warning btn-sm">Edit</a>
                    <a href="@Url.Action("Detail", "TransportRoutes", new { id = route.TransportRoutesId })" class="btn btn-info btn-sm">Details</a>
                    <a href="@Url.Action("Delete", "TransportRoutes", new { id = route.TransportRoutesId })" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a href="@Url.Action("Create", "TransportRoutes")" class="btn btn-primary">Create New Transport Route</a>
</p>

