@model IEnumerable<Schedule>
@{
    ViewData["Title"] = "Our Schedule List";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DepartureTime)</th>
            <th>@Html.DisplayNameFor(model => model.ArrivalTime)</th>
            <th>@Html.DisplayNameFor(model => model.Bus)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model)
        {
            <tr>
                <td>@schedule.DepartureTime.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@schedule.ArrivalTime.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@schedule.Bus?.BusNumber</td>
                <td>
                    <a href="@Url.Action("Detail", "Schedule", new { id = schedule.Id })" class="btn btn-info btn-sm">Details</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

